<div class="row">
    <div class="col-md-4">
        <div class="container chapter-list">

            <ul>

                <li *ngFor="let chapter of chapterNames">
                    <a routerLink="module-list/module-details">
                        {{chapter.chapter}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container chapter-list">
            <ul>
                <li *ngFor="let chaptermodule of chapterModules">
                    <a routerLink="module-details">
                        {{chaptermodule.moduleName}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>